<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content = "{{description}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
    </style>
    <script>
        var timer = setInterval("autoRefresh()", 2 * 1000);
        function autoRefresh(){window.location.replace("/");}
    </script>
  </head>
  <body><font size = "6">{{message}}</font>
  </body>
</html>
