<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="{{favicon}}">
    <link rel="shortcut icon" sizes="192x192" href="{{favicon}}">
    <link rel="apple-touch-icon" href="{{favicon}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content = "{{description}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        color:{{ text_color }};
      }

      a {
          {{ a_text_decoration }}
      }

      a:link, a:visited, a:hover, a:active {
        color:{{ text_color }};
      }

      img {
        max-width: 100%;
      }

      .linkclass {
        margin-bottom: .6em;
      }

      {%- if not request.MOBILE %}
      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 33.33%;
        padding: 10px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      {%- endif %}
    </style>
    <script>
      function redirect() {
        window.location = "/config"
      }
      var timer = setInterval("autoRefresh()", 1800 * 1000);
        function autoRefresh(){self.location.reload();}
    </script>
  </head>
  <body style="background-color:{{ back_color }}">
    <div style="text-align:right"><button type="save" name="save" onclick="redirect()">Config...</button></div>
    <center><img src="{{logo_url}}" style="max-height:100px;"></center>
    <center><small>{{ welcome_html }}</small></center>
    <div class="row">
      <div class="column">{{ columns[0] }}</div>
      {%- if not request.MOBILE %}
      <div class="column">{{ columns[1] }}</div>
      <div class="column">{{ columns[2] }}</div>
      {%- endif %}
    </div>
  </body>
</html>
