<div class="box" id="feed-{{ feed_id }}">
  <center><a target="_blank" href="{{ link }}"><img src="{{ logo }}" alt="{{ alt_tag | safe }}" style="max-height:100px;"/></a></center>
  <center>
    <small>Last updated: {{ last_fetch }}</small>
  </center>
  <div class="pagination-controls" data-feed-id="feed-{{ feed_id }}">
    <button class="prev-btn" disabled><</button>
    <button class="next-btn">></button>
  </div>  
  {%- for e in entries %}
  <div class="linkclass" data-index="{{ loop.index0 }}" style="{% if loop.index > 8 %} display: none; {% endif %}">
    {% if e.link in top_images %}
    <div class="image-container">
      <a target="_blank" href="{{ e.link | safe }}">
        <img src="{{ top_images[e.link] }}" alt="{{ e.title | safe }}"/>
      </a>
    </div>
    {% endif %}
    <div class="title-container">
      <code>
        <a target="_blank" href="{{ e.link | safe }}" 
           title="{{ e.html_content | striptags | truncate(500) | safe if e.html_content else e.summary | striptags | truncate(500) | safe if e.summary else 'No additional information available'}}">
          {{ e.title | safe }}
        </a>
      </code>
    </div>
  </div>
  {%- endfor %}
</div>
<br />